*.gem
*.rbc
*.tar
*.gz
*.otf
*.ttf
*.woff
*.eot
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
spec/convert_font/config_spec.yml